<h2>Submissions for {{ assignment.title }}</h2>

<table border="1">
    <tr>
        <th>Student</th>
        <th>File</th>
        <th>Marks</th>
        <th>Action</th>
    </tr>

    {% for submission in submissions %}
    <tr>
        <td>{{ submission.student }}</td>
        <td>
            <a href="{{ submission.submitted_file.url }}">Download</a>
        </td>
        <td>
            {% if submission.marks_obtained %}
                {{ submission.marks_obtained }}
            {% else %}
                Not Graded
            {% endif %}
        </td>
        <td>
            <a href="{% url 'grade-submission' submission.id %}">
                Grade
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
