    <div style="background:#2c7be5; padding:15px 30px; display:flex; justify-content:space-between; align-items:center;">

    <div style="display:flex; gap:25px; align-items:center;">
        <h2 style="color:white; margin:0;">Student Panel</h2>

        <a href="{% url 'student-dashboard' %}" 
           style="color:white; text-decoration:none; font-weight:bold;">
            Home
        </a>

        <a href="{% url 'view-assignments' %}" 
           style="color:white; text-decoration:none; font-weight:bold;">
            View Assignments
        </a>
        <a href="{% url 'view-subjects' %}" 
           style="color:white; text-decoration:none; font-weight:bold;">
            View Subjects
        </a>



    </div>

    <a href="{% url 'account:logout' %}" 
       style="background:#dc3545; color:white; padding:8px 14px; border-radius:6px; text-decoration:none;">
        Logout
    </a>
</div>
<h2>Assignment Grade</h2>

{% if submission %}

    <p><strong>Assignment:</strong> {{ assignment.title }}</p>

    <p><strong>Marks:</strong>
        {% if submission.marks_obtained %}
            {{ submission.marks_obtained }}
        {% else %}
            Not graded yet
        {% endif %}
    </p>

    <p><strong>Feedback:</strong></p>

    <p>
        {% if submission.feedback %}
            {{ submission.feedback }}
        {% else %}
            No feedback yet.
        {% endif %}
    </p>

{% else %}

    <p style="color:red;">
        You have not submitted this assignment yet.
    </p>

{% endif %}

<a href="{% url 'student-dashboard' %}">
    Back
</a>
